.*
!.gitignore
!.vscode

*.pyc
*.pbo
*.bisign
*.rpt
*.log

__pycache__

server/server_profile/AnimDataCache
server/server_profile/BattlEye
server/server_profile/AnimDataCache
server/server_profile/OfficialServersCache
server/server_profile/DataCache
server/server_profile/Users/DiRaven/Saved
server/server_profile/Tmp*
server/server_profile/Users/DiRaven/DiRaven.vars.Arma3Profile
